<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Antlysis Venture</title>
	</head>
	<body>
		<h1>Otouch Laundry PJCC</h1>
		<h2>Admin Log In</h2>
		<form action="/login_admin" method="post">
			<fieldset>
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username">
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="password">
				<input type="submit" value="Login">
			</fieldset>
		</form>
	</body>
</html>
