<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Antlysis Venture</title>
		<style>
			.upperRight {
				position: fixed;
				top: 5px;
				right: 10px;
			}
		</style>
	</head>
	<body>
		<h1>Otouch Lauandry PJCC</h1>
		<p id="counter">Update the firmware after loaded the new binary files</p>
		<form action="/update_firmware" method="get">
			<input type="submit" value="Click me" />
		</form>
		<form action="/logout" method="get"
			<label class="upperRight">	
				<input type="submit" value="Logout"/>
			</label>
		</form>
		<p id="demo">
	</body>
</html>
